body{
    padding:0;
    margin:0;
    font-family: 'PT Sans', sans-serif;
}
nav ul{
    list-style:none;
    display:flex;
    padding:10px;
    margin:0;
    justify-content: flex-end;
    background: black;
    opacity:0.7;
  

}

.logo{
    width:80%;
    justify-content: flex-start;
    font-family:"Baskerville Old Face";
    color:white;
    font-size:30px;
}
li{
  padding:10px;
}
li a{
    padding:20px;
    text-decoration:none;
    font-size:18px;
    color:white;
    text-transform:uppercase;
}
li a:hover{
    text-decoration:underline;
}
.container{
    display:grid;
    grid-template-columns:0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
    "nav nav content content"
    "content1 content1 content1 content1"
    "content2 content2 content2 content2"
    "content3 content3 content4 content4"
    "content5 content5 content6 content6"
    "footer footer footer footer";
}
.nav{
    grid-area:nav;
    height:60vh;
background: rgb(173, 197, 207);

}
.content{
 background:rgba(78, 110, 170, 0.267);
 grid-area:content;
 display:flex;
 justify-content:center;
 align-items: center;
}
.btn {
    
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    border-radius:25px;
    text-align:center;
    outline:none;
    text-decoration:none;
  }
  .download{
      text-align:center;
  }
  .btn:hover{
      background: rgba(0, 0, 255, 0.377);
  }
.icon{
    margin-top:20px;
}
h1{
    text-align:center;
}
.content1{
    background:rgb(173, 197, 207);
    grid-area:content1;
    padding:10px;
    text-align:center;
    display:flex;
    justify-content:center;
}
.about-me{
    width:60%;
    height:20vh;
    
}
.content2{
    padding:10px;
    background: white;
    grid-area:content2;
}
.content3{
    padding:10px;
    background: white;
    grid-area:content3;
}
.content4{
    padding:10px;
    background: white;
    grid-area:content4;
}
.border1{
    border:1px solid dddddd;
    width:80%;
    height:14px;
    background:  rgb(233, 218, 218);
}
.blue1{
    width:80%;
    height:14px;
    background: blue;
}
.border2{
    border:1px solid dddddd;
    width:80%;
    height:14px;
    background:  rgb(233, 218, 218);
}
.blue2{
    width:60%;
    height:14px;
    background: #0000ff;
}
.border3{
    border:1px solid dddddd;
    width:80%;
    height:14px;
    background: rgb(233, 218, 218);
}
.blue3{
    width:90%;
    height:14px;
    background: blue;
}
.content5{
    padding:10px;
    background:white;
    grid-area:content5
}
.content6{
    padding:10px;
    background: white;
    grid-area:content6;
}
.green{
    background: green;
}
footer{
    padding:10px;
    background: white;
    grid-area:footer;
}
p{
    font-size:20px;
}
@media(max-width:600px){
    .container{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;

    }
    .nav{
        width:100%;
    
    }
    img{
        width:100%;
   }
   .content{
       width:100%;
   }
   .content1{
       width:100%;
   }
    .about-me{
        height:60vh;
    }
    .content5{
        width:50%;
    }
    li a{
        padding:10px;
        font-size:15px;
    }
    .content2{
       width:100%
    }
    .border1{
        width:50%;
    }
    .border2{
        width:50%;
    }
    .border3{
        width:50%;
    }
   
}


