body{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
nav{
    background: rgba(0, 0, 0, 0.384);
}
nav ul{
    list-style:none;
    display:flex;
    padding:10px;
    margin:0;
    justify-content:flex-end;

}
li{
  padding:10px;
}
li a{
    padding:20px;
    text-decoration:none;
    font-size:15px;
    color:white;
    font-family:sans-serif;
    text-transform:uppercase;
}
li a:hover{
    text-decoration: underline;
}