body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    background: rgba(228, 236, 228, 0.801);
}
nav ul{
    list-style:none;
    display:flex;
    padding:10px;
    margin:0;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.329);
  

}

.logo{
    width:80%;
    justify-content: flex-start;
    font-family:"Baskerville Old Face";
    color:white;
    font-size:30px;
}
li{
  padding:10px;
}
li a{
    padding:20px;
    text-decoration:none;
    font-size:18px;
    color:white;
    text-transform:uppercase;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    row-gap:30px;
    column-gap:30px;

}
.main{
    width:100%;
    padding:10px;
    height:500px;
    background:url('https://mongooseagency.com/files/3415/9620/1413/Return_of_Sports.jpg');
    background-size:cover;
    background-position:center 10%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.content1{
    padding:10px;
   width:24%;
  
}
.content2{
    width:24%;
    padding:10px;
}
.content3{
    width:24%;
    padding:10px;
}
.content4{
   width:24%;
   padding:10px;

}
h1{
    color:white;
}
@media(max-width:600px){
    .container{
        display:flex;
        flex-direction:column;
    }
    .content1{
        width:100%;
    }
    .content2{
        width:100%;
    }
    .content3{
        width:100%;
    }
    .box{
        width:100%;
    }
    img{
        width:100%;
    }
    li a{
        padding:10px;
        font-size:13px;
    }
    .about-me{
        width:100%;
    }

}



